.cards{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background-color: #3b3b3b;
	display: flex;
	flex-flow: row wrap;
justify-content: space-around;
.cards-product{
	width: 32%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 15px;
	background-color: #434343;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
row-gap: 15px;
	h1{
			font-family: cursive;
			text-align: center;
			color: #9b9b9b;
		}
		.cards-product-img{
			width: 95%;
			border-radius: 15px;

		}
		p{
			text-align: justify;
			width: 95%;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			color: whitesmoke;
			line-height: 25px;
			font-size: 15px;
		}
		.cards-product-link{
			padding: 7px;
			text-decoration: none;
			text-transform: capitalize;
			color: whitesmoke;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			transition: 200ms;
			border-radius: 7px;
			&:active{
				transform: scale(0.9);
			}
			&:hover{
				background-color:whitesmoke ;
				color: #3b3b3b;
			}
		}
	}
}
.more{
	height: 437px ;
	object-fit: cover;
}